<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "project/title", project: @project %>
  <div class="px-4 sm:px-6">
    <!-- Main 2 column grid -->
    <div class="grid items-start grid-cols-1 lg:grid-cols-3 lg:gap-8">
      <!-- Left column -->
      <div class="grid grid-cols-1 col-span-2 gap-2 border-r border-gray-200 pr-12 h-full">
        <div class="ml-4">
          <%= turbo_frame_tag dom_id(@project) do %>
            <dl class="divide-y divide-gray-200">
              <div class="py-4 sm:grid sm:py-5 sm:grid-cols-2 sm:gap-4">
                <div class="col-span-2">
                  <dt class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2 justify-between">
                    <span>About </span>
                    <span class="ml-4 flex-shrink-0 justify-end flex">
                      <% if policy([@project, :about]).edit? %>
                        <%= edit_button(project_edit_path(@project)) %>
                      <% end %>
                    </span>
                  </dt>
                </div>
                <div class="col-span-2">
                  <dd class="mt-1  text-sm text-gray-900 sm:mt-0 sm:col-span-1">
                    <span class="flex-grow whitespace-pre-wrap text-justify"><%= @project.about.to_s.upcase_first %></span>
                  </dd>
                </div>
              </div>
            </dl>
          <% end %>
        </div>
      </div>
      <!-- Right column -->
      <div class="grid grid-cols-1 col-span-1 gap-2">
        <section aria-labelledby="add-participant-section" >
          <div class="overflow-hidden bg-white " id="add-observers">
            <%= render partial: "project/about/observer", locals: { project: @project, observers: @project.observers, message: "" } %>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
