<%= turbo_frame_tag dom_id(question) do %>
<li class="pb-1 flex border-b border-gray-200 content-center" >
  <div class="ml-3 w-full items-center">
    <p class="text-sm font-medium text-gray-900"><%= question.text %></p>
    <p class="text-sm text-gray-500"><%= question.description %></p>
  </div>
  <div class="px-6 py-3 whitespace-nowrap  text-sm font-medium">
  <p class="text-sm text-gray-900"><%= question.category %></p>
  </div>
  <div class="flex align-right">
    <div class="px-6 py-3 whitespace-nowrap  text-sm font-medium">
     <%= link_to "Edit", edit_survey_question_path(@survey, question), class: "btn-inline-edit" %>
     <%= link_to "Delete", survey_question_path(@survey, question), method: :delete,  class: "btn-inline-delete", data: {confirm: "Are you sure?"} %>
  </div>
</li>
<% end %>
