<%= turbo_frame_tag dom_id(question) do %>
  <li class="py-3 flex border-b border-gray-200" data-participant-type=<%= participant.class.name %> data-participant-id=<%= participant.id %> data-question-id=<%= question.id %>>
    <div class="ml-3 w-full">
      <% unless question.category.nil? %>
        <p class="text-xs font-medium text-gray-500 uppercase"><%= question.category.capitalize %></p>
      <% end %>
      <p class="text-sm font-semibold text-gray-900"><%= question.text.capitalize %></p>
      <% unless question.explanation.nil? %>
        <p class="text-sm text-gray-500"><%= question.explanation.capitalize %></p>
      <% end %>
      <div id=<%= "summary_" + question.id.to_s %>   >
        <p  data-reflex="click->SurveyParticipantStats#summary" data-reflex-dataset="combined" class="btn-inline-edit underline mt-2 text-xs" >View summary</p>
      </div>
    </div>
  </li>
<% end %>
