<div class="px-4 py-2 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="project-header">
  <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      <%= survey.name.titleize %>
    </h1>
  </div>
  <div class="flex mt-2 sm:mt-0 sm:ml-4">
    <div>
      <%= link_to 'Clone', clone_survey_path(@survey), class:" ml-4 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer", data: {confirm: "Are you sure? This will create a new survey by copying everything from this survey?"}  %>
      <%= link_to 'Edit', edit_survey_path(@survey), class:" ml-4 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer" %>
      <%= link_to 'Delete', survey_path(@survey), method: :delete, class:" ml-2 border-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:order-1 sm:ml-3", data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
<% if current_user.admin? %>
  <p class="px-6 -mt-2 text-sm font-medium text-gray-500 truncate"><%= survey.description %></p>
<% end %>
<%= render 'survey/tabs'%>
