<div class="flex flex-wrap p-4">
  <p class="text-sm font-medium text-gray-900 truncate"><%= employee_stats.title %></p>
</div>
<div>
  <dl class="grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="px-4 overflow-hidden">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Total Hours
      </dt>
      <dd class="mt-1 text-xl font-semibold text-gray-900">
        <%= employee_stats.stats.total_hours %>
      </dd>
    </div>
    <div class="px-4 overflow-hidden">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Billable Hours
      </dt>
      <dd class="mt-1 text-xl font-semibold text-gray-900">
        <%= employee_stats.stats.billable_hours %>
      </dd>
    </div>
    <div class="px-4 overflow-hidden">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Billed Hours
      </dt>
      <dd class="mt-1 text-xl font-semibold text-gray-900">
        <%= employee_stats.stats.billed_hours %>
      </dd>
    </div>
  </dl>
</div>
<% if employee_stats.contributions.size > 0 %>
  <div class="flex flex-wrap px-4 mt-6">
    <p class="text-sm font-medium text-gray-900 truncate"><%= "Top Contribution"%></p>
  </div>
<% end %>
<ul class="divide-y divide-gray-200">
  <% employee_stats.contributions.each do |contribution|%>
    <li class="flex px-2 py-2">
      <div class="w-full ml-3">
        <a class= "block hover:underline" href="<%= project_timesheets_path(contribution.project)%>">
          <p class="text-sm font-medium text-gray-500"><%= contribution.project.name %></p>
        </a>
      </div>
      <div class="w-full ml-3">
        <p class="text-sm font-medium text-right text-gray-500"><%= contribution.contribution %></p>
      </div>
    </li>
  <% end %>
</ul>
