<tr id="<%= dom_id timesheet %>">
  <td class="table-cell whitespace-nowrap">
    <% if current_user.admin? %>
      <a href="<%= project_timesheets_path(timesheet.project) %>" class="block hover:underline">
        <%= timesheet.project.name.titleize %>
      </a>
    <% else %>
      <%= timesheet.project.name.titleize %>
    <% end %>
  </td>
  <td class="table-cell ">
    <%= timesheet.description.upcase_first %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_date(timesheet.date) %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= timesheet.hours %>
  </td>
  <td class="table-cell">
    <% if policy([@employee, timesheet]).update? %>
      <%= edit_button(edit_employee_timesheet_path(@employee, timesheet)) %>
      <%= delete_button(employee_timesheet_path(@employee, timesheet)) %>
    <% end %>
  </td>
</tr>
