<% employee = employee.decorate %>
<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full"%>
      </div>
      <a href="<%= employee_path(employee) %>" class="truncate hover:text-gray-600 hover:underline">
        <div class="ml-4">
          <div class="text-sm font-medium text-gray-900">
            <%= employee.display_name %>
          </div>
          <div class="text-sm text-gray-500">
            <%= employee.email %>
          </div>
        </div>
      </a>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= employee.display_position%></div>
    <div class="text-sm text-gray-500"><%= employee.display_discipline_title%></div>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <a href="<%= employee_path(employee.manager) if !employee.manager.nil? %>" class="truncate hover:text-gray-600 hover:underline">
      <%= employee.display_manager_name %>
    </a>
  </td>
  <td class="px-6 py-3 text-sm font-medium text-gray-500">
    <div class="flex items-center space-x-2">
      <div class="flex flex-shrink-0 -space-x-1">
        <% employee.display_team_members_count.times do %>
          <%= image_tag "male-placeholder-image.png", class: "w-6 h-6 rounded-full max-w-none ring-2 ring-white"%>
        <% end %>
      </div>
      <span class="flex-shrink-0 text-xs font-medium leading-5"><%= employee.display_additional_team_members %></span>
    </div>
  </td>
  <td class="px-6 py-3 text-sm text-right text-gray-500 md:table-cell whitespace-nowrap">
    <% unless employee.status.nil? %>
      <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= tag.color %>-800 bg-<%= employee.status.color %>-100 rounded-full">
        <%= employee.status.name  %>
      </span>
    <%end %>
  </td>
</tr>
