<%= tailwind_form_with(model: @employee, url: employees_path) do |form| %>
  <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-4 lg:pb-16">
    <%= render "shared/form_messages", resource: @employee, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Employee", subtitle: "Please add detail of new employee." %>
    <%= form.text_field :first_name, "First Name"%>
    <%= form.text_field :last_name, "Last Name"%>
    <%= form.text_field :email, "Email"%>
    <%= form.collection_select(:discipline_id, Discipline.order(:name), :id, :name, {:prompt => 'Select Discipline'}, :selected => @employee.discipline_id, :class=>"form-text-field mt-1" ) %>
    <%= form.collection_select(:job_id, Job.order(:name), :id, :name, {:prompt => 'Select Job'}, :selected => @employee.job_id, :class=>"form-text-field mt-1" ) %>
    <%= form.collection_select(:role_id, Role.order(:name), :id, :name, {:prompt => 'Select Role'}, :selected => @employee.role_id, :class=>"form-text-field mt-1" ) %>
    <%= form.collection_select(:manager_id, UserDecorator.decorate_collection(User.for_current_account.active.order(:first_name)), :id, :display_name, {:prompt => 'Select Manager'}, :selected => @employee.manager_id, :class=>"form-text-field mt-1" ) %>
    <div class="flex justify-end">
      <%= link_to 'Back', :back, class:"btn-normal" %>
      <%= form.submit "Save", class:"btn-blue cursor-pointer"%>
    </div>
  </main>
<% end %>
