<tr id="<%= dom_id feedback %>">
  <td class="table-cell ">
    <div class="text-sm">
      <p><%= highlight_hashtag(feedback.title.upcase_first) %></p>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <a href="#" class="font-medium text-gray-900"><%= feedback.user.decorate.display_name %></a>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_created_at(feedback) %>
  </td>
  <td class="table-cell ">
    <div class="flex justify-end space-x-2">
      <%= link_to "Show", employee_feedback_path(@employee, feedback), class: "btn-inline-edit pl-2" %>
      <% if policy([@employee, feedback]).edit? %>
        <%= edit_button(edit_employee_feedback_path(@employee, feedback)) %>
      <% end %>
      <% if policy([@employee, feedback]).destroy? %>
        <%= delete_button(employee_feedback_path(@employee, feedback)) %>
      <% end %>
    </div>
  </td>
</tr>
