  <main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/account_menu" %>
    <main class="max-w-xl px-4 pb-12 lg:col-span-6">
      <%= render "shared/form_header", title: "Billing", subtitle: "Manage your subscriptions, billing and invoices" %>
      <div class="grid grid-cols-6 gap-6">
        <% if current_user.payment_processor.on_trial_or_subscribed? %>
          <% if current_user.payment_processor.subscription.on_trial? %>
            <div class="col-4">
              <p class="text-sm text-gray-500 mt-6">
                You are in 14 days trail period currently. Your trail will end on <%= current_user.payment_processor.subscription.trial_ends_at.to_date.to_formatted_s(:long)%>. After that you will be charged $49/month if you continue your subscription and in case you cancel, no amount will be charged.
              </p>
              <%= button_to "Manage Subscription", billing_portal_path, data: { turbo: false }, class: "btn-blue mt-2 ml-0" %>
            </div>
          <% elsif current_user.payment_processor.subscription.on_grace_period? %>
            <div class="col-4">
              <p class="text-sm text-gray-500 mt-6">
                You have an active subscription to our monthly plan for $49/month which is going to end on <%= current_user.payment_processor.subscription.ends_at.to_date.to_formatted_s(:long)%>. After that your account will be deactivated. You can reactivate your account by clicking the button below.
              </p>
              <%= button_to "Renew Subscription", billing_portal_path, data: { turbo: false }, class: "btn-blue mt-2 ml-0" %>
            </div>
          <% elsif current_user.payment_processor.subscription.active? %>
            <div class="col-4">
              <p class="text-sm text-gray-500 mt-6">
                You have an active subscription to our monthly plan for $49/month.
              </p>
              <%= button_to "Manage Subscription", billing_portal_path, data: { turbo: false }, class: "btn-blue mt-2 ml-0" %>
            </div>
          <% end %>
        <% else %>
          <div class="col-4">
            <p class="text-sm text-gray-500 mt-6">
              Subscribe to our monthly plan for just $49/month and use all the features of our platform.
            </p>
            <%= form_tag purchase_checkouts_path, method: :post, data: { turbo: false } do %>
              <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :monthly)%>" />
              <input type="submit" value="Subscribe for $49/month" class="btn-blue mt-2 ml-0" />
            <% end %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</main>
