<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">
      </div>
      <a href="<%= person_path(employee) %>" class="truncate hover:text-gray-600 hover:underline">
        <div class="ml-4">
          <div class="text-sm font-medium text-gray-900">
            <%= employee.display_name %>
          </div>
          <div class="text-sm text-gray-500">
            <%= employee.email %>
          </div>
        </div>
      </a>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= employee.display_position%></div>
    <div class="text-sm text-gray-500"><%= employee.display_discipline_title%></div>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= employee.display_manager_name %>
  </td>
  <td class="px-6 py-3 text-sm font-medium text-gray-500">
    <div class="flex items-center space-x-2">
      <div class="flex flex-shrink-0 -space-x-1">
        <% employee.display_team_members_count.times do %>
          <img class="w-6 h-6 rounded-full max-w-none ring-2 ring-white" src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixqx=T6AY8bD1bU&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <% end %>
      </div>
      <span class="flex-shrink-0 text-xs font-medium leading-5"><%= employee.display_additional_team_members %></span>
    </div>
  </td>
</tr>
