<%= tailwind_form_with(model: @employee, url: "/user") do |form| %>
  <main class="max-w-lg mx-auto pt-10 pb-12 px-4 lg:pb-16">
    <%= render "shared/form_messages", resource: @employee, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Person", subtitle: "Start Adding new people in your team." %>
    <form>
      <div class="mt-1 space-y-6">
        <%= form.text_field :first_name, "First Name"%>
        <%= form.text_field :last_name, "Last Name"%>
        <%= form.text_field :email, "Email"%>
        <div class="flex">
          <%= form.collection_select(:discipline_id, Discipline.all, :id, :name, {:prompt => 'Select Discipline'}, :selected => @employee.discipline_id ) %>
          <%= form.collection_select(:job_id, Job.all, :id, :name, {:prompt => 'Select Job'}, :selected => @employee.job_id ) %>
          <%= form.collection_select(:role_id, Role.all, :id, :name, {:prompt => 'Select Role'}, :selected => @employee.role_id ) %>
          <%= form.collection_select(:manager_id, User.all, :id, :first_name, {:prompt => 'Select Manager'}, :selected => @employee.manager_id ) %>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <%= link_to "Back", people_path, class: "btn-back"%>
      <%= form.submit "Add Person",  class:"btn-blue"%>
    </div>
  </div>
</form>
</main><% end %>
