<table>
  <tr>
    <h2 class="w-full font-semibold">Employee Info</h2>
    <h2 class="w-full font-semibold"><%= @kpis.last.participant.decorate.display_name %></h2>
  </tr>
  <tr>
</table>
<% @kpis.each do |attempt| %>
  <% actor = attempt.actor.decorate %>
  <% participant = attempt.participant.decorate %>
  <% survey = attempt.survey %>
  <% attempt = attempt.decorate %>
  <table>
    <tr>
      <h2 class="w-full font-semibold float-end">Score: <%= attempt.display_score %></h2>
    </tr>
    <tr>
      <h4 class="w-full font-semibold"><%= survey.name.titleize %></h4>
    </tr>
    <tr>
      <p class="w-full text-sm text-gray-500"> <%= actor.display_name %> submitted the survey on <%= display_date(attempt.created_at) %>.</p>
    </tr>
    <tr>
      <p class="w-full text-sm text-gray-500">Comment: <%= attempt.comment %></p>
    </tr>
  </table>
  <br>
<% end %>
