<tr id="<%= dom_id(attempt) %>">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <a class="hover:underline" href="<%= survey_score_report_path(attempt.survey, attempt) %>">
      <%= attempt.survey.name %>
    </a>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= attempt.actor.decorate.display_name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= display_created_at(attempt) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= attempt.decorate.display_score %>
  </td>
</tr>
