<%= tailwind_form_with(model: employee, id: dom_id(employee), url: person_path(employee), method: :patch) do |form| %>
<main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
  <%= render "shared/form_messages", resource: employee, message: local_assigns[:message] %>
  <%= render "shared/form_header", title: "Update Employee Details", subtitle: "Please fill in details of the Employee." %>
  <%= form.text_field :first_name, "First Name"%>
  <%= form.text_field :last_name, "Last Name"%>
  <%= form.text_field :email, "Email"%>
  <div>
    <%= form.label :discipline_id, class: "label" %>
    <div class="mt-1">
      <%= form.collection_select(:discipline_id, Discipline.all, :id, :name, {:prompt => 'Select Discipline'}, :selected => employee.discipline_id, class: "drop-down" ) %>
    </div>
  </div>
  <div>
    <%= form.label :job_id, class: "label" %>
    <div class="mt-1">
      <%= form.collection_select(:job_id, Job.all, :id, :name, {:prompt => 'Select Job'}, :selected => employee.job_id, class: "drop-down" ) %>
    </div>
  </div>
  <div>
    <%= form.label :role_id, class: "label" %>
    <div class="mt-1">
      <%= form.collection_select(:role_id, Role.all, :id, :name, {:prompt => 'Select Role'}, :selected => employee.role_id, class: "drop-down" ) %>
    </div>
  </div>
  <div>
    <%= form.label :manager_id, class: "label" %>
    <div class="mt-1">
      <%= form.collection_select(:manager_id, User.all, :id, :full_name, {:prompt => 'Select Manager'}, :selected => employee.manager_id, class: "drop-down" ) %>
    </div>
  </div>
  <div class="flex justify-end">
    <%= form.submit "Save", class:"btn-blue"%>
  </div>
</main>
<% end %>
