  <%= tailwind_form_with(model: user, id: dom_id(user), url: "password") do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: @passwordform, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: " Change Password ", subtitle: " Change your password." %>
    <%= form.password_field :password, " Old Password " %>
    <%= form.password_field :new_password, " New Password " %>
    <%= form.password_field :confirm_new_password, " Confirm New Password " %>
    <div class="flex justify-end">
      <%= form.submit "Save", class:"btn-blue"%>
    </div>
  </div>
<% end %>
