<%= tailwind_form_with(model: @note, id: dom_id(@note), url: project_notes_path(@project)) do |form| %>
  <main class="max-w-lg px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: @note, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Note", subtitle: "" %>
    <%= form.text_area :body, "Add Note"%>
    <a href="#" class="inline-flex items-start space-x-2 text-sm text-gray-500 group hover:text-gray-900">
      <!-- Heroicon name: solid/question-mark-circle -->
      <svg class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
      <span>
        Some HTML is okay.
      </span>
    </a>
    <div class="flex justify-end">
      <%= form.submit "Add Note", class:"btn-blue"%>
    </div>
  </main>
<% end %>
