<li>
  <div class="flex space-x-3">
    <div class="flex-shrink-0">
      <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full"%>
    </div>
    <div>
      <div class="text-sm">
        <a href="#" class="font-medium text-gray-900"><%= note.author.display_name%></a>
      </div>
      <div class="mt-1 text-sm text-gray-700">
        <p><%= note.body%></p>
      </div>
      <div class="mt-2 space-x-2 text-sm">
        <span class="font-medium text-gray-500"><%=time_ago_in_words(note.created_at) + ' ago'%></span>
        <%= link_to "Delete", project_note_path(@project, note), method: :delete, class: "pl-2 btn-inline-delete" %>
      </div>
    </div>
  </div>
</li>
