<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        <%= @project.name %>
      </h1>
      <p class="mt-1 ml-2 text-sm text-gray-500 truncate"><%= @project.display_discipline%></p>
    </div>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <%= link_to 'Edit', edit_project_path(@project), class:"btn-normal" %>
    </div>
  </div>
  <%= render 'projects/tabs'%>
</div>
<main class="pb-8">
  <div class="px-4 sm:px-6">
    <h1 class="sr-only">Page title</h1>
    <!-- Main 3 column grid -->
    <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
      <!-- Left column -->
      <div class="grid grid-cols-1 gap-4 lg:col-span-2">
        <section aria-labelledby="participants_section">
          <h2 class="sr-only" id="section-1-title">Project Notes</h2>
          <div class="overflow-hidden bg-white">
            <div class="p-4">
              <div class="flex flex-wrap">
                <p class="pb-2 mt-1 text-sm font-medium text-gray-900 truncate"><%="Project Notes(" + @project.notes.count.to_s + ")"%></p>
              </div>
              <ul class="space-y-6">
                <%= render @notes%>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!-- Right column -->
      <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
        <section aria-labelledby="add-participant-section">
          <h2 class="sr-only" id="section-2-title">Add New Note</h2>
          <div class="overflow-hidden bg-white">
            <div class="px-4">
              <%= render "projects/notes/form", note: @note%>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
<div class="pt-4 pl-16 pr-16">
</div>
</main>
