<main class="max-w-4xl px-4 pb-12 mx-auto space-y-6 lg:pb-16">
  <div class="px-4">
    <%= tailwind_form_with(model: template, id: dom_id(template)) do |form| %>
      <main class="w-full px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16">
        <%= render "shared/form_messages", resource: template, message: local_assigns[:message] %>
        <%= render "shared/form_header", title: title, subtitle: "A report template is a blueprint of how report should be submmited and what are the contents of it." %>
        <%= form.text_field :title, "Title", autocomplete: "off" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.rich_text_area :body, "Contents of Report", class: "form-text-field" %>
        <div class="flex justify-end">
          <%= link_to "Back", "javascript:history.back()", class: "btn-normal" %>
          <%= form.submit "Save Template", class: "btn-blue" %>
        </div>
      </main>
    <% end %>
  </div>
</main>
