<div class="max-w-4xl px-4 pt-10 pb-12 mx-auto lg:pb-16 bg-white" id="template">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="template-header">
    <%= render partial: "title", locals: { template: @template } %>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <% if policy([@template]).edit? %>
        <div class="flex justify-end items-center space-x-2">
          <%= link_to "Back", templates_path, class: "btn-normal" %>
          <%= styled_edit_button(edit_template_path(@template), "btn-blue") %>
          <%= styled_delete_button(template_path(@template), "btn-red") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-4 text-sm text-gray-900 sm:px-6 lg:px-8">
    <p><%= @template.body %></p>
  </div>
  <div class="text-sm text-gray-900 sm:px-6 lg:px-8 border-t border-gray-200 mt-10">
    <%= render partial: "assignees/form", locals: { template_assignee: @template_assignee } %>
  </div>
  <div class="bg-white overflow-hidden">
    <div class="mt-6 text-sm sm:px-6 lg:px-8">
      <p class="text-sm pt-4">This report has been assigned to following team members:</p>
    </div>
    <ul role="list" class="divide-y divide-gray-300  sm:px-6 lg:px-8 " id="assignees">
      <%= render partial: "assignee", collection: @template_assignees, as: :template_assignee, cached: true %>
    </ul>
  </div>
</div>
