<div class="max-w-4xl px-4 pt-10 pb-12 mx-auto space-y-6 lg:pb-16 bg-white" id="template">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <%= render partial: "title", locals: { template: @template } %>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <% if policy([@template]).edit? %>
        <div class="flex justify-end items-center space-x-2">
          <%= link_to "Back", templates_path, class: "btn-normal" %>
          <%= styled_edit_button(edit_template_path(@template), "btn-blue") %>
          <%= styled_delete_button(template_path(@template), "btn-red") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-1 text-sm text-gray-900 sm:px-6 lg:px-8">
    <p><%= @template.body %></p>
  </div>
  <div class="bg-white border-t  border-gray-200 overflow-hidden">
    <% if @assigns.size > 0 %>
      <div class="mt-1 text-sm sm:px-6 lg:px-8">
        <p class="text-sm pt-4">This report has been assigned to following employees</p>
      </div>
      <ul role="list" class="divide-y divide-gray-300 py-4 sm:px-6 lg:px-8 ">
        <%= render partial: "assign", collection: @assigns, as: :assign, cached: true %>
      </ul>
    <% else %>
      <div class="mt-1 text-sm sm:px-6 lg:px-8">
        <p class="text-sm  text-gray-900 pt-4">This reports has not been assigned to anyone yet.</p>
      </div>
    <% end %>
  </div>
