<%= turbo_frame_tag dom_id(comment) do %>
  <li class="mt-6">
    <div class="flex w-full space-x-3">
      <div class="flex-shrink-0">
        <%= display_medium_avatar(comment.user) %>
      </div>
      <div class="w-full">
        <div class="w-full text-sm">
          <a href="#" class="font-medium text-gray-900"><%= comment.user.decorate.display_name %> </a>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium <%= comment_status_color(comment) %>">
            <%= comment.status.to_s %>
          </span>
        </div>
        <div class="text-sm text-gray-700">
          <p class="whitespace-pre-wrap"><%= auto_link_urls_in_text(comment.title.upcase_first) %></p>
        </div>
        <div class="space-x-2 flex">
          <span class="text-gray-500 text-sm"><%= display_created_at(comment) %></span>
          <% if policy(comment).edit? %>
            <div class="flex justify-end items-center space-x-2">
              <%= edit_button(edit_comment_path(comment)) %>
              <%= delete_button(comment_path(comment)) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </li>
<% end %>
