<div id="comment">
  <div class="px-4 py-6 bg-gray-50 sm:px-6">
    <div class="flex space-x-3">
      <div class="flex-shrink-0">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div class="flex-1 min-w-0">
        <%= form_with model: comment, url: report_comments_path, method: :post do |form| %>
          <%= render "shared/form_messages", resource: comment, message: local_assigns[:message] %>
          <%= form.hidden_field :"comment[user_id]", :value => current_user.id %>
          <%= form.hidden_field :"comment[commentable_id]", :value => report.id %>
          <div>
            <textarea id="comment" name="comment[title]" rows="3" class="form-text-field" placeholder="Add a comment"></textarea>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="flex">
              <label for="comment" class="text-sm">Nature Of comment</label>
              <div class="flex items-center ml-2 text-sm ">
                <input type="radio" name="comment[status]" value="progress" class="w-4 h-4 text-green-600 border-gray-300 cursor-pointer focus:ring-green-500" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                <span id="pricing-plans-0-label" class="ml-1 font-medium text-gray-900">Progress</span>
              </div>
              <div class="flex items-center ml-4 text-sm">
                <input checked type="radio" name="comment[status]" value="stale" class="w-4 h-4 text-yellow-600 border-gray-300 cursor-pointer focus:ring-yellow-500" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                <span id="pricing-plans-0-label" class="ml-1 font-medium text-gray-900">Stale</span>
              </div>
              <div class="flex items-center ml-4 text-sm">
                <input type="radio" name="comment[status]" value="regress" class="w-4 h-4 text-red-600 border-gray-300 cursor-pointer focus:ring-red-500" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                <span id="pricing-plans-0-label" class="ml-1 font-medium text-gray-900">Regress</span>
              </div>
            </div>
            <div   class="justify-end ">
              <!-- This example requires Tailwind CSS v2.0+ -->
              <%= form.submit "Comment", class: "cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
