<%= tailwind_form_with(model: space_message, id: dom_id(space_message), url: url, method: method) do |form| %>
  <main class="max-w-3xl px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: space_message, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: title, subtitle: subtitle %>
    <%= form.text_field :title, "Title", autocomplete: "off" %>
    <%= form.rich_text_area :body, "Description" %>
    <input type="hidden" name="message[user_id]" value="<%= current_user.id %>">
    <input type="hidden" name="message[space_id]" value="<%= space.id %>">
    <div class="relative flex items-start">
      <div class="flex h-5 items-center">
        <input id="send_email" aria-describedby="comments-description" name="send_email" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" checked="checked">
      </div>
      <div class="ml-4 text-sm flex">
        <p class="block text-sm font-medium text-gray-700 " id="privacy-option-1-label">
          Send email notification to all members
        </p>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex justify-start inline-flex">
        <%= link_to "Cancel", space_messages_path(@space), class: "btn-normal " %>
      </div>
      <div>
      </div>
      <div class="flex  inline-flex">
        <%= form.submit "Save as draft", class: "btn-normal mr-2", name: "draft" %>
        <%= form.submit "Publish", class: "btn-blue", data: {
                                     controller: "confirmation",
                                     "confirmation-message-value": "Are you sure you want to submit it? After this members added to this space will be able to see this thread.",
                                     action: "confirmation#confirm",
                                   } %>
      </div>
    </div>
  </main>
<% end %>
