 <main class="max-w-4xl px-4 pt-10 pb-12 mx-auto  lg:pb-16">
  <div class="h-full">
    <div class="flex justify-center">
      <% if @space.archive? %>
        <span class="inline-flex items-center rounded bg-red-100 px-2 py-0.5 text-sm font-medium text-red-800">Archived on <%= display_date(@space.archive_at) %></span>
      <% end %>
    </div>
    <div id="space-header" class="">
      <div class="flex flex-col">
        <div class="flex" >
          <div class="w-16"></div>
          <div class="flex flex-1 justify-center ">
            <a href="<%= spaces_path %>">
              <h1 id="message-heading" class="font-bold line-clamp-1 text-2xl leading-tight text-align-center"><%= highlight_hashtag(@space.title.upcase_first) %></h1>
            </a>
          </div>
          <div class="flex justify-end">
            <div  x-on:click.outside="open = false" class="relative  " x-data="{ open: false }">
              <div>
                <% if policy(@space).edit? || policy(@space).unpin? || policy(@space).pin? || policy(@space).destroy? %>
                  <button @click="open = !open" id="space-menu" class=" flex-end mt-1 ml-4 border border-gray-600 text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-500 focus:ring-white" id="user-menu" aria-haspopup="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                      <path fill-rule="evenodd" d="M4.5 12a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm6 0a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd" />
                    </svg>
                  </button>
                <% end %>
              </div>
              <div x-show="open"    x-transition.opacity class="absolute right-0 w-48 mt-2 origin-top-right rounded-md shadow-lg">
                <div class="absolute right-0 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg w-60 ring-1 ring-black ring-opacity-5 z-10" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                  <div>
                    <% if policy(@space).unpin? %>
                      <a><%= link_to "Unpin", space_unpin_path(@space), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %></a>
                    <% elsif policy(@space).pin? %>
                      <a><%= link_to "Pin", space_pin_path(@space), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %></a>
                    <% end %>
                    <% if policy(@space).edit? %>
                      <a href=<%= edit_space_path(@space) %> class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"  role= "menuitem">Edit</a>
                    <% end %>
                    <% if policy(@space).archive? %>
                      <%= confirm_button(space_archive_path(@space), "Archive", "Are you sure you want to archive this space?", "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") %>
                    <% elsif policy(@space).unarchive? %>
                      <%= confirm_button(space_unarchive_path(@space), "Unarchive", "Are you sure you want to unarchive this space?", "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") %>
                    <% end %>
                    <% if policy(@space).destroy? %>
                      <%= styled_delete_button(space_path(@space), "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="font-normal text-sm line-clamp-2 text-gray-500"> <%= highlight_hashtag(@space.description.upcase_first) %></p>
        </div>
        <div class="flex justify-center mt-2">
          <p class="font-normal text-xs line-clamp-2 text-gray-500"> Created by <%= @space.user.decorate.name %> on <%= display_date(@space.created_at) %></p>
        </div>
        <% users = @space.users.includes(avatar_attachment: :blob) %>
        <div class="flex justify-center py-4" title="<%= users.pluck(:first_name, :last_name).map { |names| names.join(" ") }.join(", ") %>">
          <div class="flex   ">
            <% users.load.first(10).each do |user| %>
              <div>
                <%= display_small_avatar(user) %>
              </div>
            <% end %>
            <% if users.size > 10 %>
              <span class="inline-flex h-7 w-7 relative z-0 text-sm ml-1 text-gray-400 font-semibold items-center"  > + <%= users.size - 10 %>  </span>
            <% elsif users.size == 0 %>
              <span class="inline-flex whitespace-nowrap z-0 text-sm text-gray-400 items-center">No person added  </span>
            <% end %>
          </div>
          <div class="">
            <% if @messages.load.size > 0 %>
              <select class="form-text-field w-56 inline-flex ml-4" name="direction" id="sort" onchange="window.location.href = '<%= space_messages_path(@space) %>?direction=' + this.value;">
                <%= options_for_select([["Sort Threads By Newest", "DESC"], ["Sort Threads By Oldest", "ASC"]], prompt: "DESC", :selected => (params["direction"] if !params["direction"].blank?)) %>
              </select>
            <% end %>
            <% if policy([@space, Message]).new? %>
              <%= link_to "Add New Thread", new_space_message_path(@space.id), class: "btn-blue inline-flex " %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="relative " id="threads">
      <% if @messages.size > 0 %>
        <ul role="list" class="">
          <%= render partial: "message", collection: @messages, as: :message, cached: false %>
        </ul>
      <% else %>
        <div class="flex justify-center items-center h-28">
          <div class="text-center">
            <h1 class="text-sm text-gray-400">No Threads Added Yet</h1>
            <% if !@space.archive? %>
              <p class="text-gray-400 text-sm">Add a new thread to get started</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
