<tr>
  <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">
    <%= timesheet.user.first_name %>
  </td>
  <td class="px-6 py-4 overflow-hidden text-sm text-gray-500 truncate whitespace-nowrap">
    <%= timesheet.description%>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= display_date(timesheet.date) %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= timesheet.value%>
  </td>
  <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
    <%= link_to "Edit", project_timesheet_path(@project, timesheet), class: "btn-inline-edit pl-2" %>
    <%= link_to "Delete", project_timesheet_path(@project, timesheet), method: :delete, class: "btn-inline-delete pl-2" %>
  </td>
</tr>
