<tr id="<%= dom_id timesheet %>">
  <td class="table-cell whitespace-nowrap">
    <a href="<%= project_timesheets_path(timesheet.user) %>" class="block hover:underline">
      <%= timesheet.user.decorate.display_name %>
    </a>
  </td>
  <td class="w-full table-cell">
    <%= timesheet.description %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_date(timesheet.date) %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= timesheet.hours %>
  </td>
  <td class="table-cell">
    <% if policy([@project, timesheet]).edit? %>
      <%= edit_button(edit_project_timesheet_path(@project, timesheet)) %>
      <%= delete_button(project_timesheet_path(@project, timesheet)) %>
    <% end %>
  </td>
</tr>
