<tr id="<%= dom_id kb %>">
  <% kb = kb.decorate %>
  <td class="table-cell">
    <div class="text-sm">
      <a href="<%= ensure_protocol(kb.link) %>" target="_blank"  class="font-medium text-gray-900 block hover:underline" target="_top">
        <%= kb.document %>
      </a>
    </div>
    <div class="mt-1 text-sm text-gray-700">
      <p class="line-clamp-3"><%= kb.comments %></p>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <p class="line-clamp-1 ">
    <%if current_user.admin?%>
      <a href="<%= employee_documents_path(kb.user) %>" class="block hover:underline" target="_top">
        <%= kb.user.display_name %>
        </a>
        <% else %>
        <%= kb.user.display_name %>
        <% end %>
    </p>
  </td>
  <td class="table-cell whitespace-nowrap align-middle">
    <div class="mt-1 text-sm text-gray-700">
      <p class=""> <%= kb.discipline ? kb.discipline.name : "Everyone" %></p>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class="mt-1 text-sm text-gray-700">
      <p class=""> <%= kb.job ? kb.job.name : "Everyone" %></p>
    </div>
  </td>
  <% if policy(kb).edit? %>
    <td class="table-cell">
      <div class="flex justify-end items-center space-x-2">
        <%= edit_button(edit_kb_path(kb)) %>
        <%= delete_button(kb_path(kb)) %>
      </div>
    </td>
  <% end %>
</tr>
