<%= turbo_frame_tag dom_id(client) do %>
  <li class="py-4 flex border-b border-gray-200">
    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
    <div class="ml-3 flex w-full">
      <div class="w-full">
        <p class="w-full text-sm font-medium text-gray-900"><%= client.name.titleize %></p>
        <p class="text-sm text-gray-500"><%= client.email %></p>
      </div>
      <div class="flex justify-end">
        <%= link_to "Edit", edit_client_path(client), class: "text-sm text-gray-400 hover:text-indigo-600" %>
        <%= link_to "Delete", client_path(client), method: :delete, class: "text-sm pl-2 text-gray-400 hover:text-red-600" %>
      </div>
    </div>
  </li>
<% end %>
