<% @ticket= @ticket.decorate%>
<div class="max-w-4xl px-4 pt-10 pb-12 mx-auto lg:pb-16 bg-white" id="ticket">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <%= render partial: "title", locals: { ticket: @ticket } %>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <div class="flex justify-end items-center space-x-2">
        <%= link_to "Back", tickets_path, class: "btn-normal" %>
        <% if policy([@ticket]).edit? %>
          <%= styled_edit_button(edit_ticket_path(@ticket), "btn-blue") %>
          <%= styled_delete_button(ticket_path(@ticket), "btn-red") %>
        <% end %>
        <% if policy([@ticket]).change_status? %>
          <div data-controller="dropdown" >
            <span class="relative z-0 inline-flex rounded-md shadow-sm">
              <%= confirm_button(ticket_path(@ticket), @ticket.ticket_status.name,  "Are you sure you want to update status",  "cursor-pointer relative inline-flex items-center px-4 py-2 text-sm font-medium text-#{@ticket.ticket_status.color}-700 bg-#{@ticket.ticket_status.color}-100 border border-#{@ticket.ticket_status.color}-300 rounded-l-md hover:bg-#{@ticket.ticket_status.color}-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-#{@ticket.ticket_status.color}-500 focus:border-#{@ticket.ticket_status.color}-500" ) %>
              <span class="relative block -ml-px">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide"  type="button"  value="Submit" class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-<%= @ticket.ticket_status.color %>-500 bg-<%= @ticket.ticket_status.color %>-100 border border-<%= @ticket.ticket_status.color %>-300 rounded-r-md hover:bg-<%= @ticket.ticket_status.color %>-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-<%= @ticket.ticket_status.color %>-500 focus:border-<%= @ticket.ticket_status.color %>-500" id="option-menu-button" aria-expanded="true" aria-haspopup="true">
                  <span class="sr-only">Open options</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
                <div data-dropdown-target="menu" class="absolute right-0 z-10 w-56 mt-2 -mr-1 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="option-menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <% TicketStatus.all.where(account:current_user.account).each_with_index do |status, index| %>
                      <li  data-reflex="click->TicketStatus#change" data-ticket-id="<%= @ticket.id %>" data-status-id="<%= status.id %>" class= "cursor-pointer bg-white block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-50" ><%= status.name %> </li>
                    <% end %>
                  </div>
                </div>
              </span>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-4 text-sm text-gray-900 sm:px-6 lg:px-8">
    <p><%= @ticket.description %></p>
  </div>
  <div class="bg-white overflow-hidden">
    <div class="mt-6 text-sm sm:px-6 lg:px-8">
      <p class="text-sm pt-4">This report has been assigned to <b><%= @ticket.ticket_label.user.decorate.display_name %></b></p>
    </div>
  </div>
  <!-- Comments-->
  <section aria-labelledby="notes-title">
    <div class="pb-24 bg-white sm:rounded-lg overflow">
      <div class="divide-y divide-gray-200">
        <div class="px-4 py-5 sm:px-6">
          <h2 id="notes-title" class="text-lg font-medium text-gray-900">Comments</h2>
        </div>
        <div class="px-4 py-6 sm:px-6">
          <ul class="space-y-4" id="comments">
            <%= render partial: "shared/comments/comment", collection: @ticket.comments.includes(:user).order(created_at: :asc), as: :comment, cached: true %>
          </ul>
        </div>
      </div>
      <% if policy([@ticket]).comment? %>
        <%= render partial: "shared/comments/ticket", locals: { ticket: @ticket, comment: @comment } %>
      <% end %>
    </div>
  </section>
</div>
