<%= turbo_frame_tag dom_id(@client) do %>
  <%= form_with(model: @client, id: dom_id(@client), url: account_client_path(@client)) do |form| %>
    <li class="flex py-4 border-b border-gray-200">
      <div class="flex w-full">
        <%= form.text_field :name, class: "form-text-field"%>
        <%= form.text_field :email, class: "ml-3 form-text-field"%>
        <%= form.submit "Save", class:"btn-blue ml-3 justify-end"%>
      </div>
    </li>
  <% end %>
<% end %>
