<% project = project.decorate %>
<tr>
  <td class="w-full px-6 py-3 text-sm font-medium text-gray-900 max-w-0 whitespace-nowrap">
    <div class="flex items-center space-x-3 lg:pl-2">
      <span class="w-2.5 h-2.5  font-semibold leading-5 bg-<%=project.status.nil? ? "white" : project.status.color %>-100 rounded-full">
      </span>
      <a href="<%= project_schedules_path(project) %>" class="truncate hover:text-gray-600 hover:underline">
        <span>
          <%= project.name %>
          <span class="font-normal text-gray-500"><%= project.display_discipline %></span>
        </span>
      </a>
    </div>
  </td>
  <td class="px-6 py-3 text-sm text-right text-gray-500 md:table-cell whitespace-nowrap">
    <% project.project_tags.each do |tag| %>
      <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= tag.color %>-800 bg-<%= tag.color %>-100 rounded-full">
        <%= tag.name  %>
      </span>
    <%end %>
  </td>
  <td class="px-6 py-3 text-sm text-right text-gray-500 md:table-cell whitespace-nowrap">
    <% if !project.billable_resources.nil? %>
      <%= project.billable_resources.to_s %>
    <%end %>
  </td>
  <td class="px-6 py-3 text-sm font-medium text-gray-500">
    <div class="flex items-center space-x-2">
      <div class="flex flex-shrink-0 -space-x-1">
        <% project.display_participants_count.times do %>
          <%= image_tag "male-placeholder-image.png", class:"w-6 h-6 rounded-full max-w-none ring-2 ring-white"%>
        <% end %>
      </div>
      <span class="flex-shrink-0 text-xs font-medium leading-5"><%= project.display_additional_participants %></span>
    </div>
  </td>
  <td class="py-3 text-sm text-left text-gray-500 md:table-cell whitespace-nowrap">
    <a href="<%= employee_path(project.manager) if !project.manager.nil?%>" class="truncate hover:text-gray-600 hover:underline">
      <%= project.display_manager_name %>
    </a>
  </td>
  <td class="px-6 py-3 text-sm text-right text-gray-500 md:table-cell whitespace-nowrap">
    <%= display_created_at(project) %>
  </td>
  <td class="px-6 py-3 text-sm text-right text-gray-500 md:table-cell whitespace-nowrap">
    <% unless project.status.nil? %>
      <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= project.status.color %>-800 bg-<%= project.status.color %>-100 rounded-full">
        <%= project.status.name.titleize %>
      </span>
    <%end %>
  </td>
</tr>
