<% employee = employee.decorate %>
<tr id ="<%= dom_id(employee) %>">
  <td class="table-cell whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <%=display_medium_avatar(employee) %>
      </div>
      <a href="<%= employee_goals_path(employee) %>" class="truncate hover:text-gray-600 hover:underline">
        <div class="ml-4">
          <div class="text-sm font-medium text-gray-900">
            <%= employee.display_name %>
          </div>
          <div class="text-sm text-gray-500">
            <%= employee.email %>
          </div>
        </div>
      </a>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= employee.display_position %></div>
    <div class="text-sm text-gray-500"><%= employee.display_discipline_title %></div>
  </td>
  <td class="table-cell  whitespace-nowrap">
    <a href="<%= employee_team_path(employee.manager) if !employee.manager.nil? %>" class="truncate hover:text-gray-600 hover:underline">
      <%= employee.display_manager_name %>
    </a>
  </td>
  <td class="table-cell whitespace-nowrap">
    <% unless employee.status.nil? %>
      <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= employee.status.color %>-800 bg-<%= employee.status.color %>-100 rounded-full">
        <%= employee.status.name %>
      </span>
    <% end %>
  </td>
</tr>
