  <%= tailwind_form_with(model: people_tag, id: dom_id(people_tag), url: account_people_tags_path) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: people_tag, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "People Tags", subtitle: "You can define custom tags which can be applied to your team members. Examples include star performer, pending performance review." %>
    <%= form.text_field :name, "Add New Tag" %>
    <div class="flex justify-end">
      <%= form.submit "Save", class:"btn-blue cursor-pointer"%>
    </div>
  </div>
<% end %>
