<tr id="<%= dom_id survey %>">
  <td class="px-16 py-3  text-sm text-gray-700 max-w-0">
    <div class="text-sm">
      <a href="<%= survey_path(survey) %>" target="_blank"  class="font-medium text-gray-900 block hover:underline" target="_top">
        <%= survey.name %>
      </a>
    </div>
    <div class="mt-1 text-sm text-gray-700">
      <p class="line-clamp-3"><%= survey.description %></p>
    </div>
  </td>
  <td class="px-6 py-3  text-sm text-gray-700 max-w-0">
    <p class=""><%= survey.survey_type %></p>
  </td>
  <td class="px-6 py-3  text-sm text-gray-700 max-w-0">
    <p class=""><%= survey.survey_for %></p>
  </td>
</tr>
