<%survey = survey.decorate %>
<tr id="<%= dom_id survey %>">
  <td class="px-6 py-3 max-w-0">
    <a href="<%= survey_path(survey) %>" target="_top"  class="block hover:underline" target="_top">
      <div class="text-sm font-medium text-gray-900">
        <%= survey.name.upcase_first %>
      </div>
      <div class="mt-1 text-sm text-gray-500">
        <p class="line-clamp-3"><%= survey.description.upcase_first %></p>
      </div>
    </a>
  </td>
  <td class="px-4 py-3  text-sm text-gray-700 max-w-full whitespace-nowrap">
    <div class="mt-1 text-sm text-gray-700">
      <a href="<%= employee_team_path(survey.actor_id) %>" class="truncate hover:text-gray-600 hover:underline">
        <p class="line-clamp-3"><%= survey.actor.decorate.display_name %></p>
      </a>
    </div>
  </td>
  <td class="px-4 py-3  text-sm text-gray-700 max-w-0">
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-<%= survey.survey_type_color %>-100 text-<%= survey.survey_type_color %>-800"><%= survey.decorate.display_survey_type %></span>
  </td>
  <td class="px-4 py-3  text-sm text-gray-700 max-w-0">
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-<%= survey.survey_for_color %>-100 text-<%= survey.survey_for_color %>-800"><%= survey.survey_for.titleize %></span>
  </td>
  <td class="px-4 py-3  text-sm text-gray-700 max-w-fullb whitespace-nowrap">
    <div class="mt-1 text-sm text-gray-700">
      <p class="line-clamp-3"><%= display_date(survey.created_at) %></p>
    </div>
  </td>
</tr>
