<tr id=<%= dom_id(feedback) %>>
  <td class="table-cell ">
    <div class="text-sm">
      <p><%= highlight_hashtag(feedback.title.upcase_first) %></p>
    </div>
  </td>
  <td class="table-cell whitespace-nowrap">
    <a href="#" class="font-medium text-gray-900"><%= feedback.user.decorate.display_name %></a>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_created_at(feedback) %>
  </td>
  <td class="table-cell ">
    <div class="flex justify-end space-x-2">
      <% if policy([@project, feedback]).show? %>
        <%= link_to "Show", project_feedback_path(@project, feedback), class: "btn-inline-edit" %>
      <% end %>
      <% if policy([@project, feedback]).destroy? %>
        <%= delete_button(project_feedback_path(@project, feedback)) %>
      <% end %>
    </div>
  </td>
</tr>