 <main class="max-w-4xl px-4 pb-12 mx-auto space-y-6 lg:pb-16">
  <div class="px-4">
    <%= tailwind_form_with(model: report, id: dom_id(report), url: project_reports_path(@project)) do |form| %>
      <main class="w-full px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
        <%= render "shared/form_messages", resource: report, message: local_assigns[:message] %>
        <%= render "shared/form_header", title: "Add New report", subtitle: "A report can be added for employee which might be useful in performace review later. report will be visible to employee after approval from Admin." %>
        <%= form.text_field :title, "Title", autocomplete: "off" %>
        <%= form.rich_text_area :body, "Description" %>
        <div class="flex justify-between">
          <div class="">
            <%= link_to "Cancel", project_reports_path(@project), class: "btn-normal" %>
          </div>
          <div class="">
            <%= form.submit "Save As Draft", :name => "draft", class: "btn-normal" %>
            <%= form.submit "Submit Report", class: "btn-blue" %>
          </div>
        </div>
      </main>
    <% end %>
  </div>
</main>
