<tr id="<%= dom_id todo %>">
  <% todo = todo.decorate %>
  <td class="table-cell">
    <%= check_box_tag "completed", nil, todo.completed, data: { reflex: "click->TodoReflex#toggle_employee_todo", id: todo.id }, class: "w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" %>
  </td>
  <td class="w-full table-cell">
    <a href="<%= employee_todo_path(@employee, todo) %>" class="block hover:underline" target="_top">
      <p><%= highlight_hashtag(auto_link_urls_in_text(todo.title)) %></p>
    </a>
  </td>
  <td class="table-cell">
    <% if current_user.admin? && !todo.project.nil? %>
      <a href="<%= project_todos_path(todo.project) %>" class="block hover:underline">
        <%= todo.project.decorate.display_name %>
      </a>
    <% end %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <%= display_date(todo.deadline) %>
  </td>
  <td class="table-cell whitespace-nowrap">
    <% if policy([todo.owner, todo]).edit? %>
      <%= edit_button(edit_employee_todo_path(todo.owner, todo)) %>
    <% end %>
    <% if policy([todo.owner, todo]).destroy? %>
      <%= delete_button(employee_todo_path(todo.user, todo)) %>
    <% end %>
  </td>
</tr>
