<% presenter = UserPresenter.new(@employee) %>
<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee%>
  <main class="pb-8">
    <div class="">
      <h1 class="sr-only">Page title</h1>
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white" data-controller="infinite-scroll">
              <div>
              <%= turbo_frame_tag "todos"  do %>
                <table class="min-w-full divide-y divide-gray-200" id ="table">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Done
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Todo
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Project
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Due Date
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase">
                        Action
                      </th>
                    </tr>
                  </thead>
                   <% if @todos.empty? %> 
                 <tr><td> <div class="w-full text-center sm:rounded-lg" id="not_found">
                        <div class="px-4 py-5 sm:p-6">
                          <h3 class="text-lg font-medium leading-6 text-center text-gray-900">
                            No result found
                          </h3></div></div>
                    </td></tr>
               <% else %> 
                  <tbody class="bg-white divide-y divide-gray-200" id="todos" data-infinite-scroll-target="entries">  
                    <%= render partial: "employee/todos/todo", collection: @todos, cached: true %>
                  </tbody>
                   <% end %>
                </table>
                
                <% end %>
                <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
                  <%= render partial: "shared/paginator", locals:{pagy: @pagy}%>
                </div>
             
              </div>
            </div>
          </section>
        </div>
        <% if policy(@employee).create_todo? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <h2 class="sr-only" id="section-2-title">Add New Todo</h2>
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "employee/todos/form", locals: {todo: @todo, errors: nil }%>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
