<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee%>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <% unless @kpi.nil? %>
            <section aria-labelledby="participants_section">
              <div class="overflow-hidden bg-white">
                <div class="p-4">
                  <div class="flex flex-wrap">
                    <p class="pb-4 mt-1 text-sm font-medium text-gray-900 truncate"><%="KPIs Questions set (" + @kpi.questions.load.size.to_s + ")"%></p>
                  </div>
                  <ul class="divide-y divide-gray-200" id="questions">
                    <%= render partial: "question", collection: @kpi.questions, as: :question, cached: true %>
                  </ul>
                </div>
              </div>
            </section>
          <% end %>
        </div>
        <!-- Right column -->
        <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
          <%= render partial: "stats", locals: {kpi: @kpi, stats: @stats } %>
          <% if policy([@employee, :kpi]).record? %>
            <div class="text-center mt-4">
              <h3 class="mt-2 text-sm font-medium text-gray-900">Add New Assessment</h3>
              <p class="mt-1 text-sm text-gray-500 px-8">
                <%= @employee.decorate.display_name %> has been assigned <%= @kpi.name.upcase_first %>. Please click on button below to record a new assessment.
              </p>
              <div class="mt-2">
                <%= link_to "Record Assessment", new_survey_attempt_path(@kpi, participant_id: @employee.id), class: "btn-blue" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</main>
