  <%= tailwind_form_with(model: @project_tag, id: dom_id(@project_tag)) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: @project_tag, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Project Tags", subtitle: "You can define custom tags which can be applied to your projects. Examples include At Risk, In UAT." %>
    <%= form.text_field :name, "Add New Tag" %>
    <div class="flex justify-end">
      <%= form.submit "Save", class:"btn-blue"%>
    </div>
  </div>
<% end %>
