<div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
  <div class="flex items-center flex-shrink-0">
    <h1 class="text-white font-extrabold font-mono">Quick Teams</h1>
  </div>
  <div class="hidden sm:block sm:ml-6">
    <div class="flex space-x-4">
      <a href=<%= employee_schedules_path(current_user) %> class= "<%= current_page?(employee_schedules_path(current_user)) ? "nav-selected" : "nav-unselected" %>"><%= current_user.first_name %></a>
      <% if current_user.project_manager? %>
        <a href=<%= projects_path %> class= "<%= current_page?(projects_path) ? "nav-selected" : "nav-unselected" %>">Projects</a>
      <% end %>
      <% if policy(:nugget).index? %>
        <a href=<%= nuggets_path %> class= "<%= current_page?(nuggets_path) ? "nav-selected" : "nav-unselected" %>"> Nuggets </a>
      <% end %>
      <% if policy(:kb).index? %>
        <a href="<%= kbs_path %>" class="<%= current_page?(kbs_path) ? "nav-selected" : "nav-unselected" %>">Knowledge Base</a>
      <% end %>
      <% if policy(:ticket).index? %>
        <a href=<%= tickets_path %> class= "<%= current_page?(tickets_path) ? "nav-selected" : "nav-unselected" %>"> Tickets </a>
      <% end %>
      <% if policy(:spaces).index? %>
        <a href=<%= spaces_path %> class= "<%= current_page?(spaces_path) ? "nav-selected" : "nav-unselected" %>">Spaces</a>
      <% end %>
    </div>
  </div>
</div>
