<turbo-frame id="experience">
  <%= form_with(model: @employee, id: dom_id(@employee), url: employee_update_employee_about_path(@employee)) do |form| %>
    <li class="flex">
      <div class="grid grid-cols-1 ml-4">
        <%= form.text_field :experience, class: "form-text-field" %>
      </div>
      <div class="grid grid-cols-1 pl-10">
        <%= form.submit "Save", class: "btn-blue ml-3 justify-end" %>
      </div>
    </li>
  <% end %>
</turbo-frame>
<turbo-frame id="about">
  <%= form_with(model: @employee, id: dom_id(@employee), url: employee_update_employee_about_path(@employee)) do |form| %>
    <li class="flex">
      <div class="grid grid-cols-1 ml-4">
        <%= form.text_area :about, class: "form-text-field" %>
      </div>
      <div class="grid grid-cols-1 pl-10">
        <%= form.submit "Save", class: "btn-blue ml-3 mt-5 mb-5 justify-end" %>
      </div>
    </li>
  <% end %>
</turbo-frame>
<turbo-frame id="cv">
  <%= form_with(model: @employee, id: dom_id(@employee), url: employee_update_employee_about_path(@employee)) do |form| %>
    <li class="flex">
      <div class="grid grid-cols-1 ml-4">
        <%= form.text_field :cv, class: "form-text-field" %>
      </div>
      <div class="grid grid-cols-1 pl-10">
        <%= form.submit "Save", class: "btn-blue ml-3 justify-end" %>
      </div>
    </li>
  <% end %>
</turbo-frame>
