<%= tailwind_form_with(model: schedule, id: dom_id(schedule), url: project_schedule_path(@project)) do |form| %>
  <main class="max-w-lg mx-auto pt-6 pb-12 px-4 lg:pb-16 space-y-6">
    <%= render "shared/form_messages", resource: schedule, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Participant", subtitle: "Please add new project participant and fill in engagement level." %>
    <%= form.text_field :name, "Project Name"%>
    <%= form.text_area :description, "Description"%>
    <div class="flex justify-end">
      <%= form.submit "Save", class:"btn-blue"%>
    </div>
  </main>
<% end %>
