<%= form_with(model: schedule, id: dom_id(schedule), url: project_schedules_path(@project)) do |form| %>
<main class="max-w-lg mx-auto pt-6 pb-12 px-4 lg:pb-16 space-y-6">
  <%= render "shared/form_messages", resource: schedule, message: local_assigns[:message] %>
  <%= render "shared/form_header", title: "Add New Participant", subtitle: "Please add new project participant and fill in engagement level." %>
  <div>
    <%= form.label :user_id, class: "label" %>
    <%= form.collection_select(:user_id, User.all, :id, :full_name, {:prompt => 'Select User'}, :selected => schedule.user_id, class: "drop-down" ) %>
  </div>
  <div>
    <%= form.label :occupancy, class: "label" %>
    <%= form.number_field :occupancy, in: 1..100, class: "block w-full border-gray-300 rounded-md" %>
  </div>
  <div class="control-group">
    <%= form.label :starts_date, class: "label" %>
      <%= form.date_field :starts_at, class: "drop-down"%>
  </div>
  <div class="control-group">
    <%= form.label :ends_date, class: "label" %>
      <%= form.date_field :ends_at, class: "drop-down"%>
  </div>
  <div class="flex justify-end">
    <%= form.submit "Save", class:"btn-blue"%>
  </div>
</main>
<% end %>
