<%= form_with(model: question, id: dom_id(question), url: survey_questions_path(@survey)) do |form| %>
  <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16">
    <%= render "shared/form_messages", resource: question, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Question", subtitle: "Please fill in detail of new question" %>
    <div>
      <label for="filename" class="block text-sm font-medium text-gray-700">
        Question Text
      </label>
      <%= form.text_area :text, required: true, class: 'mt-1 h-20 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md' %>
    </div>
    <div>
      <label for="comments" class="block text-sm font-medium text-gray-700">
        Question Description
      </label>
      <%= form.text_area :description, required: true, class: 'h-24 mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md',  autocomplete: "off"%>
    </div>
    <div class="flex justify-end mt-6">
      <%= form.submit "Add Question", class:"ml-3  inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
    </div>
  </main>
<% end %>
