<div class="items-start w-full pt-2" id="<%= dom_id(question)%>">
  <div class="ml-3 text-sm w-full">
    <p class="text-xs font-medium text-gray-500 uppercase"><%= question.category.upcase_first %></p>
    <p class="text-sm font-semibold text-gray-900"><%= question.text.upcase_first %></p>
    <p class="text-xs font-medium text-gray-500"><%= question.description.upcase_first %></p>
  </div>
  <div class="flex justify-self-end py-2">
    <% question.options.each do |option| %>
      <%= render partial: 'option', locals: { option: option, question: question, attempt: attempt } %>
    <% end %>
  </div>
</div>
