<!DOCTYPE html>
<html>
  <head>
    <title>Skia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if user_signed_in? %>
      <meta name="current-account", content="<%= current_user.account.id %>">
    <% end %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'trix', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render "shared/navbar" if user_signed_in? %>
    <p class="text-sm font-medium text-center notice bg-green-50"><%= notice %></p>
    <p class="text-sm font-medium text-center alert bg-red-50"><%= alert %></p>
    <%= yield %>
  </body>
</html>
