<!DOCTYPE html>
<html>
  <head>
    <title>Skia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body>
    <p class="notice text-sm font-medium bg-green-50 text-center"><%= notice %></p>
    <p class="alert text-sm font-medium bg-red-50 text-center"><%= alert %></p>
    <%= yield %>
  </body>
</html>
