<% employee = employee.decorate %>
<tr id="<%= dom_id(employee) %>">
  <td class="table-cell whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <%= image_tag "male-placeholder-image.png", class: "w-10 h-10 rounded-full" %>
      </div>
      <div class="ml-4">
        <a href="<%= employee_schedules_path(employee) %>" class="truncate hover:text-gray-600 hover:underline">
          <div class="text-sm font-medium text-gray-900">
            <%= employee.display_name %>
            <% unless employee.status.nil? %>
              <span class="inline-flex px-2 text-xs font-semibold leading-5 text-<%= employee.status.color %>-800 bg-<%= employee.status.color %>-100 rounded-full">
                <%= employee.status.name.titleize %>
              </span>
            <% end %>
          </div>
          <div class="text-sm text-gray-500">
            <%= employee.display_position %>
          </div>
        </a>
      </div>
    </div>
  </td>
</tr>
